<div class="container">
    <div class="title-container"><h1 class="title">Registrar Comunidad</h1></div>
    <form [formGroup]="form" (ngSubmit)="aceptar()">
        
      <!-- ID del Mensaje -->
      <mat-form-field *ngIf="edicion">
        <mat-label>ID Comunidad</mat-label>
        <input matInput formControlName="idComunidad" />
        <mat-error *ngIf="form.get('idComunidad')?.hasError('required')">
            El ID de la comunidad es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Experiencia de la Comunidad</mat-label>
        <mat-select formControlName="experienciasComunidad">
          <mat-option *ngFor="let g of listaexperiencias" [value]="g.value">
            {{ g.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('experienciasComunidad')?.hasError('required')"
          >La experiencia de la comunidad es obligatorio.</mat-error
        >
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Aprobaciones de la Comunidad</mat-label>
        <mat-select formControlName="aprobacionesComunidad">
          <mat-option *ngFor="let g of listaaprobaciones" [value]="g.value">
            {{ g.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('aprobacionesComunidad')?.hasError('required')"
          >La aprobacion de la comunidad es obligatorio.</mat-error
        >
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Mensaje</mat-label>
        <textarea matInput formControlName="recomendacionesComunidad" rows="4"></textarea>
        <mat-error *ngIf="form.get('recomendacionesComunidad')?.hasError('required')">
          La recomendacion es obligatoria.
        </mat-error>
      </mat-form-field>
      <br />
  
      <!-- Usuario -->
      <mat-form-field>
        <mat-label>Usuarios</mat-label>
        <mat-select formControlName="usuarios">
          <mat-option *ngFor="let u of listaUsuarios" [value]="u.idUsers">
            {{ u.nombreUsers }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuarios')?.hasError('required')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
  
      <!-- Botón para Registrar -->
      <div class="title-container"><button mat-raised-button color="primary">Registrar Comunidad</button></div>
    </form>
  </div>