<!-- listarusuario.component.html -->
<div class="container">
  <div class="title-container">
    <h1 class="title">Lista de Usuarios</h1>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="idUsuario">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreUsers}} </td>
    </ng-container>

    <!-- Apellido Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidoUsers}} </td>
    </ng-container>

    <!-- Fecha Nacimiento Column -->
    <ng-container matColumnDef="fechanacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.fechanaciemientoUsers | date}} </td>
    </ng-container>

    <!-- Teléfono Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefonoUsers}} </td>
    </ng-container>

    <!-- Correo Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correoUsers}} </td>
    </ng-container>

    <!-- Especialidad Column -->
    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef> Especialidad </th>
      <td mat-cell *matCellDef="let element"> {{element.especialidadUsers}} </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <!-- Enabled Column -->
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> Enabled </th>
      <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
    </ng-container>

    <!-- Roles Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>

    <!-- Editar Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Edicion </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="['/usuarios/ediciones', element.idUsers]">Actualizar</button>
      </td>
    </ng-container>

    <!-- Eliminar Column -->
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef> Edicion 2 </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="deletes(element.idUsers)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <mat-paginator [length]="50" [pageSize]="7" [pageSizeOptions]="[7, 10, 15]" aria-label="Select page" color="primary">
  </mat-paginator>
</div>