<div class="container">
  <div class="title-container"><h1 class="title">Registrar Rol</h1></div>
  <form [formGroup]="form" (ngSubmit)="aceptar()">

    <!-- ID del Rol (Oculto si es generado automáticamente en el backend) -->
    <mat-form-field *ngIf="edicion">
      <mat-label>Código</mat-label>
      <input matInput formControlName="id" readonly />
    </mat-form-field>
    <br />

    <!-- Nombre del Rol -->
    <mat-form-field>
      <mat-label>Nombre del Rol</mat-label>
      <input matInput formControlName="rol" placeholder="Ingrese el nombre del rol" required />
      <mat-error *ngIf="form.get('rol')?.hasError('required')">El nombre del rol es obligatorio.</mat-error>
    </mat-form-field>
    <br />

    <!-- Selección de Usuario -->
    <mat-form-field>
      <mat-label>Seleccione un Usuario</mat-label>
      <mat-select formControlName="usuarioId" placeholder="Seleccione un usuario">
        <mat-option *ngFor="let usuario of listaUsuarios" [value]="usuario.id">{{ usuario.nombreUsers }} {{ usuario.apellidoUsers }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('usuarioId')?.hasError('required')">Debe seleccionar un usuario.</mat-error>
    </mat-form-field>
    <br />

    <!-- Botón para Registrar -->
    <div class="title-container">
      <button mat-raised-button color="primary">Registrar Rol</button>
    </div>
  </form>
</div>