<div class="container">
  <div class="title-container"><h1 class="title">Registrar Roles</h1></div>
  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <mat-form-field *ngIf="edicion">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo" readonly />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Seleccione el rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option *ngFor="let g of listaroles" [value]="g.value">
          {{ g.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('rol')?.hasError('required')">El rol es obligatorio.</mat-error>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Registrar</button>
  </form>
</div>