<div class="container">
  <h2>Listado de Respuestas</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="idRespuesta">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idRespuesta}} </td>
    </ng-container>

    <ng-container matColumnDef="pregunta">
      <th mat-header-cell *matHeaderCellDef> Pregunta </th>
      <td mat-cell *matCellDef="let element"> {{element.pregunta}} </td>
    </ng-container>

    <ng-container matColumnDef="respuestas">
      <th mat-header-cell *matHeaderCellDef> Respuesta </th>
      <td mat-cell *matCellDef="let element"> {{element.respuestas}} </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario.nombreUsers}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Edicion </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-raised-button color="primary"[routerLink]="['/respuestas/ediciones', element.idRespuesta]">Actualizar</button></td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef> Edicion 2 </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-raised-button color="primary" (click)="deletes(element.idRespuesta)">Eliminar</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <mat-paginator [length]="50"
  [pageSize]="7"
  [pageSizeOptions]="[7, 10, 15]"
  aria-label="Select page" color="primary">
  </mat-paginator>
</div>

