<div class="container">
    <div class="title-container"><h1 class="title">Registrar Citas</h1></div>
    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Selecciona la fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('fecha')?.hasError('required')">
          La fecha es obligatoria.
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Motivo Cita</mat-label>
        <input matInput formControlName="motivo" />
        <mat-error *ngIf="form.get('motivo')?.hasError('required')">
          El motivo es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Hora Cita (HH:mm)</mat-label>
        <input matInput formControlName="hora" />
        <mat-error *ngIf="form.get('hora')?.hasError('required')">La hora es obligatoria.</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Usuarios</mat-label>
        <mat-select formControlName="usuario">
          <mat-option *ngFor="let u of listaUsuarios" [value]="u.id">
            {{ u.nombreUsers }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuario')?.hasError('required')">
          Debe seleccionar un usuario
        </mat-error>
      </mat-form-field>
      <br />
      <div class="title-container"><button mat-raised-button color="primary">Registrar</button></div>
    </form>
  </div>