<div class="container">
  <div class="title-container"><h1 class="title">Registrar Usuario</h1></div>
  <form [formGroup]="form" (ngSubmit)="aceptar()">

    <!-- ID -->
    <mat-form-field *ngIf="edicion">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" />
      <mat-error *ngIf="form.get('id')?.hasError('required')">
        El ID es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Nombre -->
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Apellido -->
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" />
      <mat-error *ngIf="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched">
        El apellido es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Fecha de Nacimiento -->
    <mat-form-field>
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechanaciemiento" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('fechanaciemiento')?.hasError('required') && form.get('fechanaciemiento')?.touched">
        La fecha de nacimiento es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Teléfono -->
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" />
      <mat-error *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched">
        El teléfono es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('telefono')?.hasError('pattern') && form.get('telefono')?.touched">
        El teléfono debe tener entre 9 y 11 dígitos.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Correo -->
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput formControlName="correo" />
      <mat-error *ngIf="form.get('correo')?.hasError('required') && form.get('correo')?.touched">
        El correo es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('correo')?.hasError('email') && form.get('correo')?.touched">
        El correo debe ser válido.
      </mat-error>
    </mat-form-field>
    <br />

     <!-- Especialidad -->
     <mat-form-field>
      <mat-label>Especialidad</mat-label>
      <input matInput formControlName="especialidad" />
      <mat-error *ngIf="form.get('especialidad')?.hasError('required') && form.get('especialidad')?.touched">
        La especialidad es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Username -->
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="user" />
      <mat-error *ngIf="form.get('user')?.hasError('required') && form.get('user')?.touched">
        El username es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="pass" />
      <mat-error *ngIf="form.get('pass')?.hasError('required') && form.get('pass')?.touched">
        La contraseña es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Enabled -->
    <mat-form-field>
      <mat-label>Enabled</mat-label>
      <mat-select formControlName="activo">
        <mat-option [value]="true">Sí</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('activo')?.hasError('required') && form.get('activo')?.touched">
        El estado de habilitación es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Role -->
    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles">
        <mat-option *ngFor="let r of listaRoles" [value]="r.idRol">
          {{ r.nombreRol }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('roles')?.hasError('required') && form.get('roles')?.touched">
        El rol es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <div class="title-container"><button mat-raised-button color="primary">Registrar</button></div>
  </form>
</div>