<div class="container">
  <div class="title-container"><h1 class="title">Registrar Usuario</h1></div>
  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <!-- ID -->
    <mat-form-field *ngIf="edicion">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" />
      <mat-error *ngIf="form.get('id')?.hasError('required')">
        El ID es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Nombre -->
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombreUsers" />
      <mat-error *ngIf="form.get('nombreUsers')?.hasError('required') && form.get('nombreUsers')?.touched">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Apellido -->
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellidoUsers" />
      <mat-error *ngIf="form.get('apellidoUsers')?.hasError('required') && form.get('apellidoUsers')?.touched">
        El apellido es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Fecha de Nacimiento -->
    <mat-form-field>
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechanaciemientoUsers" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('fechanaciemientoUsers')?.hasError('required') && form.get('fechanaciemientoUsers')?.touched">
        La fecha de nacimiento es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Teléfono -->
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefonoUsers" />
      <mat-error *ngIf="form.get('telefonoUsers')?.hasError('required') && form.get('telefonoUsers')?.touched">
        El teléfono es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('telefonoUsers')?.hasError('pattern') && form.get('telefonoUsers')?.touched">
        El teléfono debe tener entre 9 y 11 dígitos.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Correo -->
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput formControlName="correoUsers" />
      <mat-error *ngIf="form.get('correoUsers')?.hasError('required') && form.get('correoUsers')?.touched">
        El correo es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('correoUsers')?.hasError('email') && form.get('correoUsers')?.touched">
        El correo debe ser válido.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Especialidad -->
    <mat-form-field>
      <mat-label>Especialidad</mat-label>
      <input matInput formControlName="especialidadUsers" />
      <mat-error *ngIf="form.get('especialidadUsers')?.hasError('required') && form.get('especialidadUsers')?.touched">
        La especialidad es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Username -->
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched">
        El username es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
        La contraseña es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />
    <!-- Enabled -->
    <mat-form-field>
      <mat-label>Enabled</mat-label>
      <mat-select formControlName="enabled">
        <mat-option [value]="true">Sí</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('enabled')?.hasError('required') && form.get('enabled')?.touched">
        El estado de habilitación es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <div class="title-container"><button mat-raised-button color="primary">Registrar</button></div>
  </form>
</div>