<div class="container">
    <div class="title-container">
      <h1 class="title">Registrar Detalle de Historia Clínica</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="registrarDHClinico()">
  
      <mat-form-field *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="idDHClinico" readonly />
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcionDHClinico" required></textarea>
        <mat-error *ngIf="form.get('descripcionDHClinico')?.hasError('required')">
          La descripción es obligatoria.
        </mat-error>
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaDHClinico" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('fechaDHClinico')?.hasError('required')">
          La fecha es obligatoria.
        </mat-error>
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Seleccione un Historial Clínico</mat-label>
        <mat-select formControlName="historialClinico" required>
          <mat-option *ngFor="let historial of listaHistorialClinico" [value]="historial.idHClinico">
            {{ historial.usuario.nombreUsers }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('historialClinico')?.hasError('required')">
          Debe seleccionar un historial clínico.
        </mat-error>
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Seleccione una Receta</mat-label>
        <mat-select formControlName="recetas" required>
          <mat-option *ngFor="let receta of listaRecetas" [value]="receta.idRecetas">
            {{ receta.nombreRecetas }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('recetas')?.hasError('required')">
          Debe seleccionar una receta.
        </mat-error>
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Seleccione un Examen</mat-label>
        <mat-select formControlName="examenes" required>
          <mat-option *ngFor="let examen of listaExamenes" [value]="examen.idExamenes">
            {{ examen.nombreExamenes }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('examenes')?.hasError('required')">
          Debe seleccionar un examen.
        </mat-error>
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Seleccione un Tratamiento</mat-label>
        <mat-select formControlName="tratamientos" required>
          <mat-option *ngFor="let tratamiento of listaTratamientos" [value]="tratamiento.idTratamientos">
            {{ tratamiento.descripcionTratamientos }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tratamientos')?.hasError('required')">
          Debe seleccionar un tratamiento.
        </mat-error>
      </mat-form-field>
      <br />
  
      <div class="title-container">
        <button mat-raised-button color="primary">Registrar</button>
        <button mat-raised-button color="warn" routerLink="/detalleshistoriaclinica">Cancelar</button>
      </div>
    </form>
  </div>
