<div class="container">
    <div class="title-container"><h1 class="title">Lista de Horarios</h1></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.idHorario}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoHorario}} </td>
        </ng-container>

        <ng-container matColumnDef="codigocita">
            <th mat-header-cell *matHeaderCellDef> Motivo Cita </th>
            <td mat-cell *matCellDef="let element"> {{element.idCita.motivoCita}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <mat-paginator [length]="50" [pageSize]="7" [pageSizeOptions]="[7, 10, 15]" aria-label="Select page"
        color="primary">
    </mat-paginator>
</div>
