<div class="toolbar-container">

  <!-- Barra de herramientas para Roles -->
  <mat-toolbar color="primary">
    <mat-icon>account_circle</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuRoles">Roles</button>
  </mat-toolbar>
  <mat-menu #menuRoles="matMenu">
    <button mat-menu-item routerLink="/roles">Listar Roles</button>
    <button mat-menu-item routerLink="/roles/nuevo">Registrar Rol</button>
  </mat-menu>

  <!-- Barra de herramientas para Usuarios -->
  <mat-toolbar color="primary">
    <mat-icon>account_circle</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuUsuarios">Usuarios</button>
  </mat-toolbar>
  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item routerLink="/usuarios">Listar Usuarios</button>
    <button mat-menu-item routerLink="/usuarios/nuevo">Registrar Usuario</button>
  </mat-menu>

  <!-- Barra de herramientas para Tratamientos -->
  <mat-toolbar color="primary">
    <mat-icon>healing</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuTratamientos">Tratamientos</button>
  </mat-toolbar>
  <mat-menu #menuTratamientos="matMenu">
    <button mat-menu-item routerLink="/tratamientos">Listar Tratamientos</button>
    <button mat-menu-item routerLink="/tratamientos/nuevo">Registrar Tratamiento</button>
  </mat-menu>

  <!-- Barra de herramientas para Recetas -->
  <mat-toolbar color="primary">
    <mat-icon>receipt</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuRecetas">Recetas</button>
  </mat-toolbar>
  <mat-menu #menuRecetas="matMenu">
    <button mat-menu-item routerLink="/recetas">Listar Recetas</button>
    <button mat-menu-item routerLink="/recetas/nuevo">Registrar Receta</button>
  </mat-menu>

  <!-- Barra de herramientas para Tipo de Material -->
  <mat-toolbar color="primary">
    <mat-icon>category</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuTipoDeMaterial">Tipo de Material</button>
  </mat-toolbar>
  <mat-menu #menuTipoDeMaterial="matMenu">
    <button mat-menu-item routerLink="/tipodematerial">Listar Tipo de Material</button>
    <button mat-menu-item routerLink="/tipodematerial/nuevo">Registrar Tipo de Material</button>
  </mat-menu>

  <!-- Barra de herramientas para Examenes -->
  <mat-toolbar color="primary">
    <mat-icon>assignment</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuExamenes">Examenes</button>
  </mat-toolbar>
  <mat-menu #menuExamenes="matMenu">
    <button mat-menu-item routerLink="/examenes">Listar Examenes</button>
    <button mat-menu-item routerLink="/examenes/nuevo">Registrar Examen</button>
  </mat-menu>

  <!-- Barra de herramientas para Mensajes -->
  <mat-toolbar color="primary">
    <mat-icon>message</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuMensajes">Mensajes</button>
  </mat-toolbar>
  <mat-menu #menuMensajes="matMenu">
    <button mat-menu-item routerLink="/mensajes">Listar Mensajes</button>
    <button mat-menu-item routerLink="/mensajes/nuevo">Registrar Mensaje</button>
  </mat-menu>

  <!-- Barra de herramientas para Respuestas -->
  <mat-toolbar color="primary">
    <mat-icon>question_answer</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuRespuestas">Respuestas</button>
  </mat-toolbar>
  <mat-menu #menuRespuestas="matMenu">
    <button mat-menu-item routerLink="/respuestas">Listar Respuestas</button>
    <button mat-menu-item routerLink="/respuestas/nuevo">Registrar Respuesta</button>
  </mat-menu>

  <!-- Barra de herramientas para Historial Clínico -->
  <mat-toolbar color="primary">
    <mat-icon>history</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuHistorialclinico">Historial Clínico</button>
  </mat-toolbar>
  <mat-menu #menuHistorialclinico="matMenu">
    <button mat-menu-item routerLink="/historialclinico">Listar Historial Clínico</button>
    <button mat-menu-item routerLink="/historialclinico/nuevo">Registrar Historial Clínico</button>
  </mat-menu>

    <!-- Barra de herramientas para Metas -->
  <mat-toolbar color="primary">
    <mat-icon>history</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuMetas">Metas</button>
  </mat-toolbar>
  <mat-menu #menuMetas="matMenu">
    <button mat-menu-item routerLink="/metas">Listar Metas</button>
    <button mat-menu-item routerLink="/metas/nuevo">Registrar Metas</button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
