

<mat-toolbar color="primary" *ngIf="verificar()">
  <button mat-button [routerLink]="['/homes']">
    <mat-icon>home</mat-icon>Home
  </button>
  <button mat-button [matMenuTriggerFor]="menuPsicologo" *ngIf="isPSICOLOGO()">
    
    <mat-icon>healing</mat-icon>Menu

  </button>
  <button mat-button [matMenuTriggerFor]="menuPacientes" *ngIf="isPACIENTE()">
    <mat-icon> person_pin</mat-icon>Menu
  </button>
  <button mat-button [matMenuTriggerFor]="menuAdministrador" *ngIf="isADMINISTRADOR()">
    <mat-icon> person_pin</mat-icon>Menu
  </button>
  <button mat-button [matMenuTriggerFor]="menuSalir"><mat-icon> account_circle</mat-icon>Usuario</button>
</mat-toolbar>



  <!-- Barra de herramientas para PSICOLOGO -->
  <mat-menu #menuPsicologo="matMenu">
    <button mat-menu-item routerLink="/tratamientos">Listar Tratamientos</button>
    <button mat-menu-item routerLink="/tratamientos/nuevo">Registrar Tratamiento</button>
    <button mat-menu-item routerLink="/recetas">Listar Recetas</button>
    <button mat-menu-item routerLink="/recetas/nuevo">Registrar Receta</button>
    <button mat-menu-item routerLink="/tipodematerial">Listar Tipo de Material</button>
    <button mat-menu-item routerLink="/tipodematerial/nuevo">Registrar Tipo de Material</button>
    <button mat-menu-item routerLink="/examenes">Listar Examenes</button>
    <button mat-menu-item routerLink="/examenes/nuevo">Registrar Examen</button>
    <button mat-menu-item routerLink="/historialclinico">Listar Historial Clínico</button>
    <button mat-menu-item routerLink="/historialclinico/nuevo">Registrar Historial Clínico</button>
    <button mat-menu-item routerLink="/citas">Listar Citas</button>
    <button mat-menu-item routerLink="/citas/nuevo">Registrar Citas</button>
    <button mat-menu-item routerLink="/horariomedico">Listar Horarios</button>
    <button mat-menu-item routerLink="/horariomedico/nuevo">Registrar Horarios</button>
    <button mat-menu-item routerLink="/mensajes">Listar Mensajes</button>
    <button mat-menu-item routerLink="/mensajes/nuevo">Registrar Mensaje</button>
    <button mat-menu-item routerLink="/metas">Listar Metas</button>
    <button mat-menu-item routerLink="/metas/nuevo">Registrar Metas</button>
  </mat-menu>

  <!-- Barra de herramientas para ADMINISTRADOR -->
  <mat-menu #menuAdministrador="matMenu">
    <button mat-menu-item routerLink="/usuarios">Listar Usuarios</button>
    <button mat-menu-item routerLink="/usuarios/nuevo">Registrar Usuario</button>
    <button mat-menu-item routerLink="/roles"><mat-icon>healing</mat-icon>Listar Roles</button>
    <button mat-menu-item routerLink="/roles/nuevo">Registrar Rol</button>
    <button mat-menu-item routerLink="/respuestas">Listar Respuestas</button>
    <button mat-menu-item routerLink="/respuestas/nuevo">Registrar Respuesta</button>
    <button mat-menu-item routerLink="/tratamientos">Listar Tratamientos</button>
    <button mat-menu-item routerLink="/tratamientos/nuevo">Registrar Tratamiento</button>
    <button mat-menu-item routerLink="/recetas">Listar Recetas</button>
    <button mat-menu-item routerLink="/recetas/nuevo">Registrar Receta</button>
    <button mat-menu-item routerLink="/tipodematerial">Listar Tipo de Material</button>
    <button mat-menu-item routerLink="/tipodematerial/nuevo">Registrar Tipo de Material</button>
    <button mat-menu-item routerLink="/examenes">Listar Examenes</button>
    <button mat-menu-item routerLink="/examenes/nuevo">Registrar Examen</button>
    <button mat-menu-item routerLink="/historialclinico">Listar Historial Clínico</button>
    <button mat-menu-item routerLink="/historialclinico/nuevo">Registrar Historial Clínico</button>
    <button mat-menu-item routerLink="/citas">Listar Citas</button>
    <button mat-menu-item routerLink="/citas/nuevo">Registrar Citas</button>
    <button mat-menu-item routerLink="/horariomedico">Listar Horarios</button>
    <button mat-menu-item routerLink="/horariomedico/nuevo">Registrar Horarios</button>
    <button mat-menu-item routerLink="/mensajes">Listar Mensajes</button>
    <button mat-menu-item routerLink="/mensajes/nuevo">Registrar Mensaje</button>
    <button mat-menu-item routerLink="/metas">Listar Metas</button>
    <button mat-menu-item routerLink="/metas/nuevo">Registrar Metas</button>
  </mat-menu>


  <!-- Barra de herramientas para PACIENTE -->
  <mat-menu #menuPacientes="matMenu">
    <button mat-menu-item routerLink="/mensajes">Listar Mensajes</button>
    <button mat-menu-item routerLink="/mensajes/nuevo">Registrar Mensaje</button>
    <button mat-menu-item routerLink="/metas">Listar Metas</button>
    <button mat-menu-item routerLink="/metas/nuevo">Registrar Metas</button>
  </mat-menu>

    <mat-menu #menuSalir="matMenu">
      <button mat-menu-item routerLink="/login" (click)="cerrar()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
      <button mat-menu-item>
        Rol:
        <span>{{ role }}</span>
      </button>
    </mat-menu>

<router-outlet></router-outlet>
