<div class="toolbar-container">
  
  <!-- Barra de herramientas para Roles -->
  <mat-toolbar color="primary">
    <mat-icon>account_circle</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuRoles">Roles</button>
  </mat-toolbar>
  <mat-menu #menuRoles="matMenu">
    <button mat-menu-item routerLink="/roles">Listar Roles</button>
    <button mat-menu-item routerLink="/roles/nuevo">Registrar Rol</button>
  </mat-menu>

  <!-- Barra de herramientas para Tratamientos -->
  <mat-toolbar color="primary">
    <mat-icon>healing</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuTratamientos">Tratamientos</button>
  </mat-toolbar>
  <mat-menu #menuTratamientos="matMenu">
    <button mat-menu-item routerLink="/tratamientos">Listar Tratamientos</button>
    <button mat-menu-item routerLink="/tratamientos/nuevo">Registrar Tratamiento</button>
  </mat-menu>

  <!-- Barra de herramientas para Recetas -->
  <mat-toolbar color="primary">
    <mat-icon>receipt</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuRecetas">Recetas</button>
  </mat-toolbar>
  <mat-menu #menuRecetas="matMenu">
    <button mat-menu-item routerLink="/recetas">Listar Recetas</button>
    <button mat-menu-item routerLink="/recetas/nuevo">Registrar Receta</button>
  </mat-menu>

  <!-- Barra de herramientas para Tipo de Material -->
  <mat-toolbar color="primary">
    <mat-icon>category</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuTipoDeMaterial">Tipo de Material</button>
  </mat-toolbar>
  <mat-menu #menuTipoDeMaterial="matMenu">
    <button mat-menu-item routerLink="/tipodematerial">Listar Tipo de Material</button>
    <button mat-menu-item routerLink="/tipodematerial/nuevo">Registrar Tipo de Material</button>
  </mat-menu>

  <!-- Barra de herramientas para Examenes -->
  <mat-toolbar color="primary">
    <mat-icon>assignment</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuExamenes">Examenes</button>
  </mat-toolbar>
  <mat-menu #menuExamenes="matMenu">
    <button mat-menu-item routerLink="/examenes">Listar Examenes12</button>
    <button mat-menu-item routerLink="/examenes/nuevo">Registrar Examen</button>
  </mat-menu>
</div>

<router-outlet></router-outlet>