<div class="container">
    <div class="title-container"><h1 class="title">Registrar Mensaje</h1></div>
    <form [formGroup]="form" (ngSubmit)="aceptar()">
        
      <!-- ID del Mensaje -->
      <mat-form-field>
        <mat-label>ID del Mensaje</mat-label>
        <input matInput formControlName="idMensaje" />
        <mat-error *ngIf="form.get('idMensaje')?.hasError('required')">
            El ID del Mensaje es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
  
      <!-- Mensaje -->
      <mat-form-field>
        <mat-label>Mensaje</mat-label>
        <textarea matInput formControlName="mensaje" rows="4"></textarea>
        <mat-error *ngIf="form.get('mensaje')?.hasError('required')">
          El mensaje es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
  
      <!-- Usuario -->
      <mat-form-field>
        <mat-label>Usuarios</mat-label>
        <mat-select formControlName="usuarios">
          <mat-option *ngFor="let u of listaUsuarios" [value]="u.idUsers">
            {{ u.nombreUsers }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuarios')?.hasError('required')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
  
      <!-- Botón para Registrar -->
      <div class="title-container"><button mat-raised-button color="primary">Registrar Mensaje</button></div>
    </form>
  </div>