<div class="container">
  <div class="title-container"><h1 class="title">Lista de Citas</h1></div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="idcita">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.idCita}} </td>
    </ng-container>

    <ng-container matColumnDef="fechacita">
      <th mat-header-cell *matHeaderCellDef> Fecha</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCita}} </td>
    </ng-container>

    <ng-container matColumnDef="motivocita">
      <th mat-header-cell *matHeaderCellDef> Motivo </th>
      <td mat-cell *matCellDef="let element"> {{element.motivoCita}} </td>
    </ng-container>

    <ng-container matColumnDef="horacita">
      <th mat-header-cell *matHeaderCellDef> Hora de Cita </th>
      <td mat-cell *matCellDef="let element"> {{element.horaCita}} </td>
    </ng-container>

    <ng-container matColumnDef="usuarioid">
      <th mat-header-cell *matHeaderCellDef> ID de usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.idUsuario.nombreUsers}} </td>
    </ng-container>

    <ng-container matColumnDef="estadocita">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoCita}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <mat-paginator [length]="50" [pageSize]="7" [pageSizeOptions]="[7, 10, 15]" aria-label="Select page" color="primary">
  </mat-paginator>
</div>
