<div class="container">
  <div class="title-container">
    <h1 class="title">Registrar Detalle Clínico</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="aceptar()">
    
    <!-- ID del Historial Clínico -->
    <mat-form-field *ngIf="edicion">
      <mat-label>ID del Historial Clínico</mat-label>
      <input matInput formControlName="idHClinico" readonly />
    </mat-form-field>
    <br />

    <!-- Fecha de Apertura -->
    <mat-form-field>
      <mat-label>Fecha de Apertura</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaperturaHClinico" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('fechaperturaHClinico')?.hasError('required')">La fecha de apertura es obligatoria.</mat-error>
    </mat-form-field>
    <br />

    <!-- Selección de Usuario -->
    <mat-form-field>
      <mat-label>Seleccione un Usuario</mat-label>
      <mat-select formControlName="usuarios" required>
        <mat-option *ngFor="let usuario of listaUsuarios" [value]="usuario.id">
          {{ usuario.nombreUsers }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('usuarios')?.hasError('required')">Debe seleccionar un usuario.</mat-error>
    </mat-form-field>
    <br />

    <!-- Botón para Registrar -->
    <div class="title-container">
      <button mat-raised-button color="primary">Registrar Detalle Clínico</button>
    </div>
  </form>
</div>